#people_met {
width: 800px;
max-width: 600px;
font-family: 'Courier New', Courier, monospace;
 font-size: medium;  
 font-style: italic; 
 font-weight: 700;


}
button {
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 30px;
font-style: italic;
color: blue;
background-color: white;
border-radius: 25px;
border-color: brown;
border-width: 3px;
}